<div id="safeView">
    <div class="row">
        <input type="checkbox" class="form-check-input pull-right" id="toggle" name="toggle">
        <label class="form-check-label pull-right" for="toggle">Discovered</label>
    </div>
    <div class="page-header">
        <h1 name="safeName" id="safeNameId"></h1>
        <p id="authorName">Author: </p>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">Description</div>
        <div class="panel-body" name="safeDescription" id="safeDescriptionId"></div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">Localization</div>
        <div class="panel-body" name="safeLocalization" id="safeLocalizationnId"></div>
    </div>
    <div class="list-group" id="discoversList">
        <a href="#" class="list-group-item active">Discovers</a>
    </div>
    <h3>Map</h3>
    <div id="map"></div>
    <hr>
    <div class="row">
        <button class="btn btn-warning pull-right " id="editSafeBtn">Edit</button>
        <button class="btn btn-danger  pull-left" id="removeSafeBtn">Remove</button>
    </div>
</div>



