<div id="safeModifyView">
    <br>
    <div class="form-group">
        <label for="exampleInputEmail1">Safe name</label>
        <input type="text" class="form-control" id="editSafeName" placeholder="Enter new name">
    </div>
    <div class="form-group">
        <label for="comment">Description:</label>
        <textarea class="form-control" rows="5" id="editSafeDescription"></textarea>
    </div>
    <div class="form-group">
        <label for="comment">Localization:</label>
        <textarea class="form-control" rows="5" id="editSafeLocalization"></textarea>
    </div>
    <div class="col-xs-6">
        <label for="editSafeLattitude">Lattitude</label>
        <input  type="number" class="form-control" type="text" id="editSafeLattitude">
    </div>
    <div class="col-xs-6">
        <label for="editSafeLongitude">Longitude</label>
        <input  type="number" class="form-control" type="text" id="editSafeLongitude">
    </div>
    <div class="col-xs-12">
        <button class="btn btn-warning pull-left" id="editCancel">Cancel</button>
        <button class="btn btn-success  pull-right" id="addSafe">Add</button>
        <button class="btn btn-info  pull-right" id="acceptEditSafe">Save</button>
    </div>
</div>

