<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../public/javascripts/register.js"></script>

</head>
<body>
    <header>
        <h1>Geo Caching</h1>
        <a href="./">
            <button type="button" class="btn btn-info main-page-btn">Safes list</button>
        </a>
    </header>
    <div class="register-form">
        <form>
            <div class="container">
                <h2 class="text-center">Register</h2>
                <h3 class="text-center">Please fill in this form to create an account.</h3>
                <hr>
                <div class="form-group">
                    <label for="username"><b>User name</b></label>
                    <input type="text" class="form-control" placeholder="Enter name" id="setUserName" required>
                </div>
                <div class="form-group">
                    <label for="email"><b>Email</b></label>
                    <input type="email" class="form-control" placeholder="Enter Email" id="setEmail" required>
                </div>
                <div class="form-group">
                    <label for="psw"><b>Password</b></label>
                    <input type="password" class="form-control" placeholder="Enter Password" id="setPassword" required>
                </div>
                <div class="form-group">
                    <label for="psw-repeat"><b>Repeat Password</b></label>
                    <input type="password" class="form-control" placeholder="Repeat Password" id="repeatPassword" required>
                </div>

                <p id="registerInfo"><p>

                    <div class="clearfix">
                        <a href="./login">
                            <button type="button" class="btn btn-warning btn-block">Cancel</button>
                        </a>
                        <button type="button" class="btn btn-info btn-block" id="signUp">Sign Up</button>
                    </div>
            </div>
        </form>
    </div>
</body>
</html>
